*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bg{
    background-color: #547;
    margin: 20px 20px;
}
#bg2{
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: rgb(200, 0, 0);
    background-image: url('https://source.unsplash.com/user/traceofwind/likes/150x150'),url('https://source.unsplash.com/user/traceofwind/likes/150x150');
    background-repeat: no-repeat;
    background-position: top right,bottom left;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* paralox effect */
    /* background-attachment: fixed; */ 
}