/* offline fonts:
@font-face{
font-family:abc;
src:url('url of font');

}
now use name abc where u want to use the font
font-family: abc,"Ubuntu", sans-serif;

*/

div {
  margin: 25px;
  border: 2px solid red;
  text-align: center;
}
h1 {
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  /* font-style: italic; */
  /* font-variant: small-caps; */
  font-size: 24px;
}
